## Setting

In [40]:
import pandas as pd
import sys
import os
import numpy as np
from clust.pipeline import data_pipeline 
from config import influxdb_client as db_client
from clust.data import df_set_data
from clust.data import data_interface
from clust.integration import integration_interface

sys.path.append("../")
sys.path.append("../..")
sys.path.append("../../..")
sys.path.append("../../../..")

## Get Data

In [41]:
bk_name1 = 'farm_protectedHorticulture_fruitsAndVegetables_tomato'
ms_name1 = 'environment_knu_sgh'
tags1 = {'FARM_ID_CODE':'A00259'}

In [42]:
data1 = db_client.get_data(bk_name1,ms_name1,tags1)
data1

,ACC_RADIATION_INTENSITY,EXT_SLR_RADIATON,INT_CO2,INT_REL_HD,MID_INT_TMP,SLR_RAD
time,,,,,,
2023-06-01 00:00:00+00:00,933.6,0.0,583,82,15.0,0.0
2023-06-01 00:10:00+00:00,0.0,0.0,583,82,15.0,0.0
2023-06-01 00:20:00+00:00,0.0,0.0,586,82,15.0,0.0
2023-06-01 00:30:00+00:00,0.0,0.0,589,82,15.0,0.0
2023-06-01 00:40:00+00:00,0.0,0.0,594,82,15.0,0.0
...,...,...,...,...,...,...
2023-08-31 23:20:00+00:00,2417.3,0.0,463,94,16.1,0.0
2023-08-31 23:30:00+00:00,2417.3,0.0,467,93,15.9,0.0
2023-08-31 23:40:00+00:00,2417.3,0.0,467,93,15.6,0.0
2023-08-31 23:50:00+00:00,2417.3,0.0,465,92,15.4,0.0
2023-09-01 00:00:00+00:00,2417.4,0.0,470,92,15.2,0.0

In [43]:
bk_name2 = 'energy_renewable_generationFacility_windEnergy'
ms_name2 = 'generation_eco_n'
tags2 = {'ID':'P_8711'}

In [44]:
data2 = db_client.get_data(bk_name2,ms_name2,tags2)
data2

                            QGEN
time
2022-01-01 01:00:00+00:00  3.537
2022-01-01 02:00:00+00:00  6.969
2022-01-01 03:00:00+00:00  4.307
2022-01-01 04:00:00+00:00  3.017
2022-01-01 05:00:00+00:00  3.689
...                          ...
2024-09-22 20:00:00+00:00  2.035
2024-09-22 21:00:00+00:00  1.407
2024-09-22 22:00:00+00:00  1.163
2024-09-22 23:00:00+00:00  1.157
2024-09-23 00:00:00+00:00  1.194

[23904 rows x 1 columns]

## Set integration Param

In [49]:
ingestion_param ={}
ingestion_param['ms_list_info'] = [['farm_protectedHorticulture_fruitsAndVegetables_tomato', 'environment_knu_sgh', {'FARM_ID_CODE':'A00259'}], 
                                   ['energy_renewable_generationFacility_windEnergy', 'generation_eco_n', {'ID':'P_8711'}]]
ingestion_param['start_time'] = "2023-06-01 00:00:00"
ingestion_param['end_time'] = "2023-09-01 00:00:00"

In [50]:
re_frequency_min = 60
re_freqy_min_str = f"{re_frequency_min}T"

multiple_dataset = data_interface.get_data_result("multiple_ms_by_time", db_client, ingestion_param)

In [51]:
multiple_dataset

{'farm_protectedHorticulture_fruitsAndVegetables_tomato_environment_knu_sgh':                            ACC_RADIATION_INTENSITY  EXT_SLR_RADIATON  INT_CO2  \
 datetime
 2023-06-01 00:00:00+00:00                    933.6               0.0      583
 2023-06-01 00:10:00+00:00                      0.0               0.0      583
 2023-06-01 00:20:00+00:00                      0.0               0.0      586
 2023-06-01 00:30:00+00:00                      0.0               0.0      589
 2023-06-01 00:40:00+00:00                      0.0               0.0      594
 ...                                            ...               ...      ...
 2023-08-31 23:10:00+00:00                   2417.3               0.0      462
 2023-08-31 23:20:00+00:00                   2417.3               0.0      463
 2023-08-31 23:30:00+00:00                   2417.3               0.0      467
 2023-08-31 23:40:00+00:00                   2417.3               0.0      467
 2023-08-31 23:50:00+00:00                   2417.3               0.0      465

                            INT_REL_HD  MID_INT_TMP  SLR_RAD
 datetime
 2023-06-01 00:00:00+00:00          82         15.0      0.0
 2023-06-01 00:10:00+00:00          82         15.0      0.0
 2023-06-01 00:20:00+00:00          82         15.0      0.0
 2023-06-01 00:30:00+00:00          82         15.0      0.0
 2023-06-01 00:40:00+00:00          82         15.0      0.0
 ...                               ...          ...      ...
 2023-08-31 23:10:00+00:00          94         16.3      0.0
 2023-08-31 23:20:00+00:00          94         16.1      0.0
 2023-08-31 23:30:00+00:00          93         15.9      0.0
 2023-08-31 23:40:00+00:00          93         15.6      0.0
 2023-08-31 23:50:00+00:00          92         15.4      0.0

 [13248 rows x 6 columns],
 'energy_renewable_generationFacility_windEnergy_generation_eco_n':                             QGEN
 datetime
 2023-06-01 00:00:00+00:00  0.007
 2023-06-01 01:00:00+00:00  0.007
 2023-06-01 02:00:00+00:00  0.007
 2023-06-01 03:00:00+00:00  0.007
 2023-06-01 04:00:00+00:00  0.009
 ...                          ...
 2023-08-31 19:00:00+00:00  3.876
 2023-08-31 20:00:00+00:00  2.102
 2023-08-31 21:00:00+00:00  1.678
 2023-08-31 22:00:00+00:00  2.177
 2023-08-31 23:00:00+00:00  5.242

 [2208 rows x 1 columns]}

In [47]:
integrationParam={}
integration_param = {
    "integration_frequency":re_freqy_min_str,
    "param":integrationParam,
    "method":"simple",
    "integration_duration_type":"common"
}

integration_type = 'multiple_dataset_integration'

data_result = integration_interface.get_data_result(integration_type, multiple_dataset, integration_param)

===integrationStart===
===integrationEnd===

/home/jhlee/CLUST_KETI/keti-cedp-clust/clust/integration/integrationInterface.py:135: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  integratedDataSet = integratedDataSet.resample(integration_freq_min).mean()

In [48]:
data_result

,ACC_RADIATION_INTENSITY_0,EXT_SLR_RADIATON_0,INT_CO2_0,INT_REL_HD_0,MID_INT_TMP_0,SLR_RAD_0,QGEN_1
datetime,,,,,,,
2023-06-01 00:00:00+00:00,155.6,0.000000,587.666667,82.000000,14.983333,0.000000,0.007
2023-06-01 01:00:00+00:00,0.0,0.000000,597.666667,81.500000,14.733333,0.000000,0.007
2023-06-01 02:00:00+00:00,0.0,0.000000,609.666667,81.000000,14.533333,0.000000,0.007
2023-06-01 03:00:00+00:00,0.0,0.000000,616.666667,81.500000,14.350000,0.000000,0.007
2023-06-01 04:00:00+00:00,0.0,0.000000,625.833333,82.500000,14.283333,0.000000,0.009
...,...,...,...,...,...,...,...
2023-08-31 19:00:00+00:00,2417.3,5.933333,405.500000,85.000000,21.366667,5.933333,3.876
2023-08-31 20:00:00+00:00,2417.3,0.333333,431.500000,87.333333,20.133333,0.333333,2.102
2023-08-31 21:00:00+00:00,2417.3,0.033333,446.000000,90.166667,18.850000,0.033333,1.678
2023-08-31 22:00:00+00:00,2417.3,0.000000,454.166667,93.666667,17.416667,0.000000,2.177
2023-08-31 23:00:00+00:00,2417.3,0.000000,460.000000,94.000000,16.600000,0.000000,5.242